body{
font-family: Arial;
text-align:center;
background:#f4f4f4;
margin:0;
}

.header{
background:#0b4fa2;
color:white;
padding:40px;
}

.content{
padding:40px;
}

.btn{
display:inline-block;
padding:12px 25px;
background:#0b4fa2;
color:white;
text-decoration:none;
border-radius:6px;
margin-top:20px;
}

.apply{
display:inline-block;
padding:14px 30px;
background:#28a745;
color:white;
text-decoration:none;
font-size:18px;
border-radius:8px;
margin-top:30px;
}